<%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/product.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('../partials/navigation') %>
    <main>
        
        <form action="/admin/login" method="POST">
            <div>
                Email: <input type="text">
                password: <input type="password" name="" id="">
                <button>Submit</button>
            </div>
        </form>
    </main>
<%- include('../partials/end') %>