<%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/product.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('../partials/navigation.ejs') %>
    <main>
        Paginated products should be here...
    </main>
<%- include('../partials/end') %>